* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(206, 4%, 32%);
}

.container {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: min(90%, 31.25em);
    padding: 3.75em 0;
    border: 100%;
    box-shadow: 0 1.97em 3.75em rgba(1, 87, 185, 0.2) 0 1.97em 3.75em rgba(203, 105, 216, 0.2) 0 1.97em 3.75em rgba(112, 115, 117, 0.2);
}

.timer-display {
    position: relative;
    width: 50%;
    padding-top: 100px;
    padding-bottom: 100px;
    left:25%;
    font-family: "Roboto Mono", monospace;
    color: #f0f9ff;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 2px solid;
    border-radius: 50%;
    box-shadow: 0 0.5em 1em rgba(1, 87, 185, 0.2) 0 1.97em 3.75em rgba(203, 105, 216, 0.2) 0 1.97em 3.75em rgba(112, 115, 117, 0.2);
}

.buttons {
    width: 80%;
    margin: 3.8em auto 0 auto;
    display: flex;
    justify-content: space-around;
}

.buttons button {
    font-size: 18px;
    background-color: #7b7d81;
    color: #dee4eb;
    border: none;
    font-family: "Poppins", sans-serif;
    border-radius: 0.5em ;
    padding: 0.4em 0.2em;
    cursor: pointer;
    outline: none;
}

#reset-timer {
    background-color: #409947;
    color: #050505;
}
